*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: aquamarine;
    display: grid;
}

.cards {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 1fr 1f;
    
    gap: 20px;
    min-height: 100%;
  }

.cardimg{
    height: 300px;
    width: 300px;
}
